<h2 mat-dialog-title>Add product to monitor price</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="p-3">
  <div class="w-100">
    <mat-form-field class="w-100">
      <mat-label>Product URL</mat-label>
      <input matInput autocomplete="off" type="text" [(ngModel)]="url">
      <button mat-button *ngIf="url" matSuffix mat-icon-button aria-label="Clear" (click)="url=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!url || isLoading" (click)="addProduct()">
    <mat-icon *ngIf="isLoading"><mat-spinner diameter="20"></mat-spinner></mat-icon>
    Add
  </button>
</mat-dialog-actions>
