<div fxLayout="column" fxLayoutAlign="center center" class="h-100">
    <div class="header-section" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center">
      <div class="mb-3"><a [routerLink]="'/'"><img src="assets/images/logo.png"></a></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="wisconsin-form-section">
      <form class="login-form p-3" [formGroup]="loginForm" fxLayoutAlign="center center"
        fxLayout="column" fxFlex="450px" fxFlex.lg="450px" fxFlex.xs="90%">
        <h1>SIGN IN</h1>
        <div class="form-group w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" type="email">
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched || submitted)">Email is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched || submitted)">Password is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group w-100 pb-3">
          <button mat-raised-button color="primary" class="w-100" [disabled]="!loginForm.valid || isLoading" (click)="onSubmit()">
            <mat-icon *ngIf="isLoading"><mat-spinner diameter="20"></mat-spinner></mat-icon>
            Sign In
          </button>
        </div>
        <div class="form-group w-100 pb-3">
          <button mat-button color="primary" class="w-100" routerLink="/register">Register</button>
        </div>
      </form>
    </div>
</div>
