<div fxLayout="row" fxLayoutAlign="end center" class="shadow-bottom p-2">
  <button mat-raised-button color="primary" (click)="openAddProductDialog()">Add Product</button>
</div>
<div class="p-3">
  <mat-card *ngFor="let product of products" class="mb-3">
    <div fxLayout="row" fxLayoutAlign="start center">
      <img *ngIf="product.url.includes('www.amazon')" src="assets/images/amazon-24.png"  alt="amazon"/>
      <img *ngIf="product.url.includes('www.flipkart')" src="assets/images/flipkart_26.png"  alt="flipkart"/>
      <a [href]="product.url" target="_blank" class="text-dot text-bold h5 pl-3" fxFlex>{{product.title}}</a>
      <button mat-icon-button aria-label="Notification" color="primary"
              (click)="updateNotification(product.pid, {'needNotification': !product?.needNotification})">
        <mat-icon>{{product?.needNotification ? 'notifications' : 'notifications_off'}}</mat-icon>
      </button>
      <button mat-icon-button aria-label="Delete" color="warn" (click)="deleteProduct(product.pid)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="mt-3" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
      <label><span class="text-bold">Initial Price:</span> {{product?.currency}} {{product?.initialPrice | number}}</label>
      <label>
        <span class="text-bold">Best Price:</span>
        {{product?.currency}} {{product?.bestPrice?.price | number}} ({{product?.bestPrice?.date | date}})
      </label>
      <label><span class="text-bold">Current Price:</span> {{product?.currency}} {{product?.currentPrice | number}}</label>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="text-red" *ngIf="((product?.currentPrice / product?.initialPrice) - 1) > 0">north</mat-icon>
        <mat-icon class="text-green" *ngIf="((product?.currentPrice / product?.initialPrice) - 1) < 0">south</mat-icon>
        <label class="text-strong text-red" *ngIf="((product?.currentPrice / product?.initialPrice) - 1) >= 0">
          {{(product?.currentPrice / product?.initialPrice) - 1 | percent }}
        </label>
        <label class="text-strong text-green" *ngIf="((product?.currentPrice / product?.initialPrice) - 1) < 0">
          {{1 - (product?.currentPrice / product?.initialPrice) | percent }}
        </label>
      </div>
    </div>
  </mat-card>
</div>

